* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #fde68a;
    text-align: center;
    padding: 50px;
    line-height: 1.5;
}
.heading-1 {
    color: #78350f;
    font-size: 40px;
    font-weight: bold;
}
.menu {
    text-align: center;
    background-color: #fed7aa;
    font-size: larger;
    font-weight: bold;
    padding: 15px;
    border: none;
}

a {
    margin: 8px;
    text-decoration: none;
    color: #7c2d12;

}

.menu a:hover{
    border: none;
    border-radius: 8px;
    background-color: #c2410c ;
    color: white;
    padding: 6px;
    transition: all 0.3s linear;
}
img{
    position: relative;
}
.heading-3{
    font-size:x-large;
}
.content-1 {
    position: absolute;
    border: white;
    padding: 20px;
    width: 450px;
    height: 140px;
    font-size: larger;
    top: 510px;
    background-color: rgba(255,255, 255, 0.8);
    left: 30px;
    border-radius: 20px;
}


footer{
    background-color: #78350f;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 25px;
    line-height: 30px;
}
main{
    background-color: #fff7ed;
}
.heading-2{
    color: #92400e;
    text-align: center;
    font-size: xx-large;
}
.content-2{
    text-align: center;
    font-size: 20px;
}
.content-3{
    text-align: center;
    font-size: 20px;
    line-height: 2;
}
.content-4{
    background-color: #fffbeb;
     text-align: center;
    font-size: 20px;
    padding: 50px;
}