* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f1f5f9 ;
}
.header {
    background-color:#0ea5e9 ;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    padding: 20px;
    line-height: 2.5;
}
.heading-1 {
    font-size: xx-large;
}
.menu{
    background-color: #e0f2fe;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #0369a1;
    text-decoration: none;
    transition: all 0.3s linear;
}

.menu a:hover{
    border: #0369a1;
    background-color: #0369a1;
    color:white;
    transform: scale(20px);
}
.main-1 {
    background-color: #ffffff;
    margin: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
}
.main-2 {
    background-color: #ecfeff ;
    border: #0ea5e9;
    border-left-color: #0ea5e9;
    margin: 30px;
    border-radius: 20px;
    padding: 30px;

}
.text{
    text-decoration: none;
}
.footer {
    background-color: #0f172a;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}
