* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #fde68a;
    text-align: center;
    padding: 50px;
    line-height: 1.5;
}
.heading-1 {
    color: #78350f;
    font-size: 40px;
    font-weight: bold;
}

img{
    position: relative;
}
.content-1 {
    position: absolute;
    border: white;
    padding: 20px;
    width: 450px;
    height: 140px;
    font-size: larger;
    top: 460px;
    right: 10px;
    background-color: rgba(255,255, 255, 0.8);
    border-radius: 20px;
}

.menu {
   
    text-align: center;
    background-color: #fed7aa;
    font-size: larger;
    font-weight: bold;
    padding: 15px;
    border: none;
}

a {
    margin: 8px;
 text-decoration: none;
 color: #7c2d12;

}

.menu a:hover{
    border: none;
    border-radius: 8px;
    background-color: #c2410c ;
    color: white;
    padding: 6px;
    transition: all 0.3s linear;
}
.heading-2 {
    color: #92400e;
    text-align: center;
    font-size: xx-large;
}
main {
    background-color: #fff7ed;
}
.content-2{
    text-align: center;
}
.box{
    text-align: center;
    display: inline-block;
    color: #92400e;
    padding: 10px ;
    width: 260px;
    height: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    line-height: 2;
    padding: 16px;
    transition: all 0.3s linear;
}

.box:hover{
    transform: translateY(-20px);
    background-color: #fffbeb ;
}
.text{
    text-align: center;
    text-decoration: none;
    line-height: 2;
    font-size: larger;
}
footer{
    background-color: #78350f;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 25px;
    line-height: 30px;
}